openai
pypdf
qdrant-client
langchain==0.2.11
langchain-core
langchain-community
langchain-openai
langchain_qdrant
langchainhub
langchain-experimental
langsmith
chainlit
python-dotenv
tiktoken
huggingface_hub
rank_bm25
pandas
giskard[llm]
ragas
jupyter
ipykernel
streamlit
gradio