openai
pypdf
qdrant-client
langchain
langchain-core
langchain-community
langchain-openai
langchain-experimental
langsmith
chainlit
python-dotenv
tiktoken
huggingface_hub
rank_bm25
pandas
giskard[llm]
mlflow